body{
    background:rgba(229, 229, 238, 0.899);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.quizContainer{
    background-color: white;
    border-radius: 13px;
    margin: auto;
    box-sizing: border-box;
border: 2px solid rgb(43, 36, 36);
padding: 2rem 0 0 0;
width: 450px;
box-shadow: 1px 1px 15px 6px #61a8e8;
/* width:500px; */
}
.header{
    margin-left: 1.7rem;
}
h1{
    text-align: center;
}

ul{
    padding: 0;
    list-style: none;
}
button{
    text-align: center;
    padding: 7px;
    margin-bottom: 0;
}
ul li{
    padding: 5px 0;
    /* background: #7e84ee; */
    border-radius: 10px;
    margin-bottom: 5px;
}
input{
    margin-right: 10px;
}
.lastButton{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background-color: rgb(84, 84, 232);
}
button{
    font-weight: 700;
    font-size: inherit;
    border: 0;
    background: inherit;
    color: white;
}

